#brackets-scroll-header {
    position: absolute;
    background: #eee;
    border-bottom: 1px solid #ddd;
    left: 0;
    top: 0;
    width: 100%;
    overflow: none;
    
    /* Sigh. */
    z-index: 15;
}

#brackets-scroll-header .CodeMirror-gutter {
    background: #eee;
}